<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="driverPackage.BaseDriver"/>
	  
      <class name="testCasePackageAdvance.TC001_LocatorLearning_POM_TC"/>
      
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
